<div class="container bg-faded py-3">
  <div class="row">
    <div class="col">
      <div class="mx-auto w-50 p-3  text-black text-center">
        <span>Use this search box for <code>WIKI-DATA</code> search</span>

        <div class="card" style="width:31rem;">
          <div class="card-header">
            Search
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                    (click)="searchClickWiki()">Search</button>
                </div>
                <input type="text" class="form-control" placeholder="Item Name" [(ngModel)]="searchTermWK"
                  name="search">
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="imageLoaded">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card" style="width: 50rem;">
      <img [src]="imageURL" class="card-img-top" alt="imag-eerror">
      <div class="card-body">
        <h5 class="card-title">{{card_title}}</h5>
        <p class="card-text" [innerHTML]="mainText">
          {{mainText}}</p>
        <a [href]="getToTheWIKI" class="btn btn-primary">Get To the WIKI</a>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>

</div>


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <table class="table">
        <tbody>
          <tr *ngFor="let item of dataItem; let i = index">
            <th *ngIf="dataItemDBP"> Results {{i}} </th>
            <td>
              <accordion>
                <accordion-group [heading]="item.title">
                  <div [innerHTML]="item.snippet"></div>
                  <p>{{item.snippet}}</p>
                </accordion-group>
              </accordion>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-1"></div>
  </div>
</div>