<div class="main-div">
    <div class="head">
        <div class="back-button-div">
            <div class="back-button">
                <div class="arrow-div">
                    <i class="arrow left"></i>
                </div>
            </div>
        </div>
        <div class="text-div">
            <p style="font-weight: 900;"> Choose Your </p>
            <p style="position: absolute; top: 1rem;"> Card and Pay</p>
        </div>
    </div>
    <div class="inner-div">
        <div class="half-div-box">
        </div>
        <div class="card-shadow-box"></div>
        <img src="/assets/img/card.png" class="card" alt="image">
        <div class="bottom-div">
            <p class="light-text">Duration</p>
            <p style="position: absolute; top: 0.7rem;" class="bold-text">3 Hours</p>

            <p class="light-text">Total</p>
            <p style="position: absolute; top: 3rem;" class="bold-text">$ 260</p>
        </div>
    </div>

</div>